h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

.card {
    margin-bottom: 10px;
}

.square-btn {
    width: 25px;
    height: 25px;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

#analog-clock {
    width: 100%;
    height: 100%;
}